
body {
    background-color: #010101;
    color: #ffffff;
    margin: 0px;
    font-family: sans-serif;
}
.mobile-container {
    width: 100vw;
    background-image: url("mobile-background.png");
    background-size: cover; /* Scale the image to cover the entire container */
    background-repeat: no-repeat;
    height: 104vh;
    background-position: center; /* Center the image */
    padding: 0% 0%;
    padding-top: 5vh;
    -webkit-box-sizing: border-box; /* For webkit browsers */
    -moz-box-sizing: border-box; /* For Firefox browsers */
    display: flex;
    box-sizing: border-box; /* Standard syntax */
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    inline-size: -webkit-fill-available;
    justify-content: center;
    align-items: center;
}
div#m-topbar {
    display: flex;
    width: max-content;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5vw;
}

div#m-tlte-txt {
    font-size: 7vw;
    font-weight: bold;
    padding: 0vh 15vw 4vh 0px;
}

button#m-cons {
    border: none;
    outline: none;
    color: white;
    padding: 1.2vh 7vw;
    background: rgb(128 128 128 / 20%);
    border-radius: 2vw;
    cursor: pointer;
    font-size: 4vw;
    margin: 0px 2vw;
}

#m-abt {
    padding: .8vh 7vw;
    border: none;
    color: white;
    border-radius: 2.5vw;
    background: none;
    color: #ffffff;
    border: none;
    font-size: 4vw;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
    box-shadow: inset 0 0 0 3\px rgb(255 255 255);
}

div#m-maintxt {
    padding: 19vw 13vw 0px 10vw;
}

div#m-what-we-do {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -9vh;
    margin-bottom: 10vh;
}


#m-what-we-do h1 {
    font-weight: 100;
    font-size: 5vw;
    width: 35vw;
}

.break {
  flex-basis: 100%;
  height: 0;
}

div#m-wht-we-do-ex {
    width: 50%;
    font-size: .7vw;
    margin: 5vh 4vw;
}

div#m-wht-we-do-ex h1 {
    font-weight: 100;
    font-size: 5vw;
    width: unset;
}


h1#dfmslkfm {
    padding-right: 3vw;
}

.m-tch-stack-ex-img {width: 15vw;}

div#m-tech-stack-ex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-between;
    align-items: flex-start;
    width: 61vw;
    PADDING: 6VH 0PX;
}

.m-tch-stack-ex-txt h1 {
    font-size: 4vw !important;
    margin: 0px;
}

.m-tch-stack-ex-txt {
    padding: 1px 01vw;
    width: 60%;
}

.m-tch-stack-ex-txt p {
    font-size: 3.4vw;
    margin: 0.8vh 0px;
}


.m-tch-stack-ex-img img {
    width: -webkit-fill-available;
}

div#m-tech-stack {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    PADDING: 0PX 20VW;
    justify-content: center;
    align-items: center;
}
#m-tech-stack h1 {font-weight: 100;font-size: 6vw;}

div#m-team {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    padding: 0px 11vw;
    justify-content: center;
    margin-top: 20vh;
    align-items: center;
    text-align: center;
    margin-bottom: 20vh;
}

div#m-team h1 {
    font-weight: 100;
    font-size: 6vw;
}

#m-team p {
    font-size: 5vw;
    margin: 5vh 0px 7vh 0px;
}
div#m-footer {
    width: -webkit-fill-available;
    background: #1a1a1a;
    display: flex;
    flex-direction: row;
    padding: 32px 13vw;
    flex-wrap: wrap;
    align-content: center;
    color: #4a4a4a;
    justify-content: space-around;
    align-items: center;
}

.m-svx-lgo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

#m-footer p {
    font-size: 1.2vw;
}

h6 {
    text-align: center;
    font-weight: 100;
    padding: 1vh 0px 0vh 0px;
}
.m-svx-lgo path {
    fill: #4a4a4a;
    stroke: #4a4a4a;
}
div#m-wht-we-do-ex img {
    width: 89%;
    margin: 2vh 0px;
}
#m-team img {
    width: 85%;
    margin: 6vh 0px 1vh 0px;
}